<key>NSPhotoLibraryUsageDescription</key>
<string>We need access to your photos to upload images.</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>We need access to save images to your library.</string>


<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
